<html>
    <head>
        <title>Dashboard</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- FONTS -->
        <link rel="stylesheet" href="/css/font/fonts.css">

        <!-- JS -->
        <script src="js/main.js"></script>

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="css/base.css">
        <link rel="stylesheet" type="text/css" href="css/dashboard.css">
    </head>
    <body>
        <div class = "main">
            <div class = "header">
                <h1>Polly's Pizza: Inventory System</h1>
            </div>
            <div class = "lower">
                <div class = "menu">
                    <div class = "icons">
                        <ul class = "menu-icons">
                            <li>
                                <a href="/dashboard">
                                    <img class = "icon-1" src="res/dashboard-icon.svg" alt="Dashboard icon">
                                </a>
                            </li>
                            <li>
                                <a href="/inventory">
                                    <img class = "icon-2" src="res/inventory-icon.svg" alt="Inventory icon">
                                </a>
                            </li>
                            <li>
                                <a href="/sales">
                                    <img class = "icon-3" src="res/sales-icon.svg" alt="Sales icon">
                                </a>
                            </li>
                            <li>
                                <a href="/statistics">
                                    <img class = "icon-4" src="res/statistics-icon.svg" alt="Statistics icon">
                                </a>
                            </li>
                            <li>
                                <a href="/account">
                                    <img class = "icon-5" src="res/account-icon.svg" alt="Account icon">
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class = "menu-col">
                        <ul class = "menu-items">
                            <li>
                                <a href="/dashboard">Dashboard</a>
                            </li>
                            <div class = "selected"></div>
                            <li class = "menu-item-2">
                                <a href="/inventory">Inventory</a>
                            </li>
                            <li class = "menu-item-3">
                                <a href="/sales">Sales</a>
                            </li>
                            <li class = "menu-item-4">
                                <a href="/statistics">Statistics</a>
                            </li>
                            <li class = "menu-item-5">
                                <a href="/account">Account</a>
                            </li>
                            <form action="/logout" method="POST">
                                <input type="submit" id = "logout" class = "logout-button" value = "Logout"></form>
                            <a href = "/help" class = "help-button">How to use</a>
                        </ul>
                    </div>
                </div>

                <div class = "page">
                    <div class = "row-1">
                        <div class = "card-1">
                            <div class = "card-text">
                                <p class = "card-header-1">LOW STOCK!</p>
                                <div class = "low-stock-items">
                                    <ul class = "low-stock-list">
                                        <% for (const low of model) { %>
                                        <li><%=low.ingredients%></li><%}%>
                                    </ul>
                                </div>
                            </div>
                            <div class = "card-icon">
                                
                            </div>
                        </div>
                        <div class = "card-1">
                            <div class = "card-text">
                                <p class = "card-header-2">SALES LAST MONTH</p>
                                <p class = "card-info"><%=formatter.format(sales[1].total_sales)%></p>
                                <p class = "card-footer"><%= moment().subtract({months:1}).format('MMMM YYYY'); %></p>
                            </div>
                            <div class = "card-icon">
                                
                            </div>
                        </div>
                        <div class = "card-1">
                            <div class = "card-text">
                                <p class = "card-header-3">SALES THIS MONTH</p>
                                <p class = "card-info"><%=formatter.format(sales[0].total_sales)%></p>
                                <p class = "card-footer"><%= moment().format('MMMM YYYY'); %></p>
                            </div>
                            <div class = "card-icon">
                                
                            </div>
                        </div>
                    </div>
                    <div class = "row-2">
                        <div class = "card-2">
                            <canvas id= "myChart" ></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="js/Chart.bundle.min.js"></script>
        <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ['Week 1', 'Week 2', 'Week 3', 'Week 4'],
            datasets: [{
                label: 'Sales',
                data: [<%=weekly[3].total_sales%>, <%=weekly[2].total_sales%>, <%=weekly[1].total_sales%>, <%=weekly[0].total_sales%>],
                backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        },
        layout: {
            padding: {
                left: 40,
                right: 50,
                top: 10,
                bottom: 15
            }
        },
        
        title: {
            display: true,
            text: 'Amount of Sales in the last 4 weeks (in Php.)',
            fontSize: 16
        },

        legend: {
            display: false,
            position:'right'
        }
    }
});
</script>
    </body>
</html>
