<html>
    <head>
        <title>Account</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- FONTS -->
        <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

        <!-- JS -->
        <script src="js/main.js"></script>
        <script src="js/account.js"></script>

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="css/base.css">
        <link rel="stylesheet" type="text/css" href="css/account.css">
    </head>
    <body>
        <div class = "main">
            <div class = "header">
                <h1>Polly's Pizza: Inventory System</h1>
            </div>
            <div class = "lower">
                <div class = "menu">
                    <div class = "icons">
                        <ul class = "menu-icons">
                            <li>
                                <a href="/dashboard">
                                    <img class = "icon-1" src="res/dashboard-icon.svg" alt="Dashboard icon">
                                </a>
                            </li>
                            <li>
                                <a href="/inventory">
                                    <img class = "icon-2" src="res/inventory-icon.svg" alt="Inventory icon">
                                </a>
                            </li>
                            <li>
                                <a href="/sales">
                                    <img class = "icon-3" src="res/sales-icon.svg" alt="Sales icon">
                                </a>
                            </li>
                            <li>
                                <a href="/statistics">
                                    <img class = "icon-4" src="res/statistics-icon.svg" alt="Statistics icon">
                                </a>
                            </li>
                            <li>
                                <a href="/account">
                                    <img class = "icon-5" src="res/account-icon.svg" alt="Account icon">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class = "menu-col">
                        <ul class = "menu-items">
                            <li>
                                <a href="/dashboard">Dashboard</a>
                            </li>
                            <li class = "menu-item-2">
                                <a href="/inventory">Inventory</a>
                            </li>
                            <li class = "menu-item-3">
                                <a href="/sales">Sales</a>
                                
                            </li>
                            <li class = "menu-item-4">
                                <a href="/statistics">Statistics</a>
                            </li>
                            <li class = "menu-item-5">
                                <a href="/account">Account</a>
                            </li>
                            <div class = "selected"></div>
                            <form action="/logout" method="POST">
                            <input type="submit" id = "logout" class = "logout-button" value = "Logout"></form>
                            <a href = "/help" class = "help-button">How to use</a>
                        </ul>
                    </div>
                </div>
                <div class = page>
                    <div class = "row-1 info-container">
                        <div class = "inner-col-1 info-column">
                            <p class = "header-text">Information</p>
                            <div class = "username-info">
                                <p class = "inner-text">account:</p>
                                <p class = "username-loc"><%=username%></p>
                            </div>
                        </div>
                        <div class = "inner-col-2 info-column">
                            <div class = "change-info">
                                <a href = "#" class = "change-uname" onclick="showChangeUsern()">change username</a>
                                <a href = "#" class = "change-pass" onclick="showChangePass()">change password</a>
                            </div>
                        </div>
                        <div class = "inner-col-3 info-column">
                            <input class = "delete-button" type = "button" value = "Delete Account" onclick="showDelete()">
                        </div>
                    </div>
                    <div class = "row-2 info-container">
                        <form class = "info-container" action="/changeSec" method="POST">
                            <div class = "inner-col-1 info-column">
                                <p class = "header-text">Security Questions</p>
                                <div class = "security-options-container">
                                    <div class = "select-container">
                                        <select name="security1" class = "security-1 sec-questions">
                                            <option value = "<%=q1%>"><%=q1%></option>
                                            <option value = "What's your father's middle name?">What's your father's middle name?</option>
                                            <option value = "What was the plate no. of your first car?">What was the plate no. of your first car?</option>
                                            <option value = "Where is your secret place?">Where is your secret place?</option>
                                            <option value = "Who was your favorite childhood teacher?">Who was your favorite childhood teacher?</option>
                                            <option value = "What's the name of the first school you attended?">What's the name of the first school you attended?</option>
                                        </select>
                                        <button class = "dropdown-icon"></button>
                                    </div>

                                    <div class = "select-container">
                                        <select name="security2" class = "security-1 sec-questions">
                                            <option value = "<%=q2%>"><%=q2%></option>
                                            <option value = "What's your father's middle name?">What's your father's middle name?</option>
                                            <option value = "What was the plate no. of your first car?">What was the plate no. of your first car?</option>
                                            <option value = "Where is your secret place?">Where is your secret place?</option>
                                            <option value = "Who was your favorite childhood teacher?">Who was your favorite childhood teacher?</option>
                                            <option value = "What's the name of the first school you attended?">What's the name of the first school you attended?</option>
                                        </select>
                                        <button class = "dropdown-icon"></button>
                                    </div>

                                    <div class = "select-container">
                                        <select name="security3" class = "security-1 sec-questions">
                                            <option value = "<%=q3%>"><%=q3%></option>
                                            <option value = "What's your father's middle name?">What's your father's middle name?</option>
                                            <option value = "What was the plate no. of your first car?">What was the plate no. of your first car?</option>
                                            <option value = "Where is your secret place?">Where is your secret place?</option>
                                            <option value = "Who was your favorite childhood teacher?">Who was your favorite childhood teacher?</option>
                                            <option value = "What's the name of the first school you attended?">What's the name of the first school you attended?</option>
                                        </select>
                                        <button class = "dropdown-icon"></button>
                                    </div>
                                </div>
                            </div>
                            <div class = "inner-col-2 info-column">
                                <div class = "security-answers">
                                    <input type = "text" id = "security-ans-1" class = "sec-answer" placeholder = "Answer" name="ua1">
                                    <input type = "text" id = "security-ans-2" class = "sec-answer" placeholder = "Answer" name="ua2">
                                    <input type = "text" id = "security-ans-3" class = "sec-answer" placeholder = "Answer" name="ua3">
                                </div>
                            </div>
                            <div class = "inner-col-3 info-column">
                                <input class = "update-button" type = "button" value = "Update" onclick = "showConfirmPass()">
                            </div>

                            <div class = "confirm-popup">
                                <div class = "confirm-popup-form">
                                    <button class = "close-delete close-popup" onclick="closeConfirmPopup()">X</button>
                                    <h1>Enter Password</h1> 
                                    <input required type = "password" placeholder = "Enter Password" class = "delete-pass-input pass-input pass1" name="oldpw">
                                    <input class = "confirm-next next-usern" type="submit" value="submit">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class = "row-3 info-container">
                        <div class = "inner-col-1 info-column">
                            <p class = "header-text">Accounts</p>
                            <input class = "add-button" type = "button" value = "Add Account" onclick="showAddAccountPopup()">
                        </div>
                        <div class = "inner-col-2 info-column">

                        </div>
                        <div class = "inner-col-3 info-column">

                        </div>
                    </div>
                </div>

                <div class = "delete-popup">
                    <form class = "delete-popup-form" action="/delete" method="POST">
                        <button class = "close-delete close-popup" onclick="closeDeletePopup()">X</button>
                        <h1>Enter Password</h1> 
                        <input required type = "password" placeholder = "Enter Password" class = "delete-pass-input pass-input pass1" name="delAccount">
                        <input class = "delete-acc-inner delete-button" type = "submit" value = "Delete Account">
                    </form>
                </div>

                <div class = "change-usern-popup">
                    <form class = "change-usern-popup-form" action="/changeUsername" method="POST">
                        <button class = "close-popup" onclick="closeUsernPopup()">X</button>
                        <div class = "change-usern-1">
                            <h1>Change Username</h1>
                            <input required type = "text" placeholder = "New Username" class = "new-usern" name="username">
                            <button class = "next-usern" onclick="usernNext1()">Next</button>
                        </div>
                        <div class = "change-usern-2">
                            <h1>Confirm Password</h1>
                            <input required type = "password" placeholder = "Enter Password" class = "new-usern" name="password">
                            <input type = "submit" class = "next-usern"></input>
                        </div>
                    </form>
                </div>

                <div class = "change-pass-popup">
                    <form class = "change-pass-popup-form" method="POST" action="/changePass">
                        <button class = "close-popup" onclick="closeChangePassPopup()">X</button>
                        <div class = "change-pass-1">
                            <h1>Change Password</h1>
                            <input required type = "password" placeholder = "Old Password" name="oldPass" class = "pass-input pass1">
                            <input required type = "password" placeholder = "New Password" name = "newPass" class = "pass-input">
                            <input required type = "password" placeholder = "Confirm New Password" name = "confirmPass" class = "pass-input">
                            <input type = "submit" class = "submit-pass"></input>
                        </div>
                    </form>
                </div>

                <div class = "add-account-popup">
                    <form class = "add-account-form" method="POST" action="/new">
                        <button class = "close-add close-popup" onclick="closeAddAccountPopup()">X</button>
                        <div class = "add-account-div">
                            <h1>Add Account</h1>
                            <div class = "inner-add-account-div">
                                <div class = "add-info-label">
                                    <label>Username:</label>
                                    <input required type = "text" class = "info-entry" name="user">
                                    <label>Password:</label>
                                    <input required type = "password" class = "info-entry" name="pw">
                                    <label>Confirm Password:</label>
                                    <input required type = "password" class = "info-entry" name="cpw">

                                </div>
                                <div class = "add-info-ans">
                                    <div class = "add-info-sec-ques">
                                        <p class = "ques-header header-text">Security Questions</p>
                                        <div class = "inner-security-question-container">
                                            <select required name="s1" class = "inner-security-questions">
                                                <option value = "What's your father's middle name?">What's your father's middle name?</option>
                                                <option value = "What was the plate no. of your first car?">What was the plate no. of your first car?</option>
                                                <option value = "Where is your secret place?">Where is your secret place?</option>
                                                <option value = "Who was your favorite childhood teacher?">Who was your favorite childhood teacher?</option>
                                                <option value = "What's the name of the first school you attended?">What's the name of the first school you attended?</option>
                                            </select>
                                            <button class = "add-account-icon dropdown-icon"></button>
                                        </div>
                                        <div class = "inner-security-question-container">
                                            <select required name="s2" class = "inner-security-questions">
                                                <option value = "What's your father's middle name?">What's your father's middle name?</option>
                                                <option value = "What was the plate no. of your first car?">What was the plate no. of your first car?</option>
                                                <option value = "Where is your secret place?">Where is your secret place?</option>
                                                <option value = "Who was your favorite childhood teacher?">Who was your favorite childhood teacher?</option>
                                                <option value = "What's the name of the first school you attended?">What's the name of the first school you attended?</option>
                                            </select>
                                            <button class = "add-account-icon dropdown-icon"></button>
                                        </div>
                                        <div class = "inner-security-question-container">
                                            <select required name="s3" class = "inner-security-questions">
                                                <option value = "What's your father's middle name?">What's your father's middle name?</option>
                                                <option value = "What was the plate no. of your first car?">What was the plate no. of your first car?</option>
                                                <option value = "Where is your secret place?">Where is your secret place?</option>
                                                <option value = "Who was your favorite childhood teacher?">Who was your favorite childhood teacher?</option>
                                                <option value = "What's the name of the first school you attended?">What's the name of the first school you attended?</option>
                                            </select>
                                            <button class = "add-account-icon dropdown-icon"></button>
                                        </div>
                                    </div>

                                    <div class = "add-info-sec-ans">
                                        <input required type = "text" class = "add-acc-sec-ans" placeholder = "Answer" name="sa1">
                                        <input required type = "text" class = "add-acc-sec-ans" placeholder = "Answer" name="sa2">
                                        <input required type = "text" class = "add-acc-sec-ans" placeholder = "Answer" name="sa3">
                                        <input class = "add-acc-update-button" type = "submit" value = "Submit">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>