<!-- <form action="/edit/<%=model.stockID%>" method="post">
<div class="form-group row">
    <label class="col-form-label col-sm-2" for="Title">Ingredients</label>
    <div class="col-sm-8">
      <input autofocus class="form-control" name="eName" value="<%= model.ingredients %>" />
    </div>
  </div>
  
  <div class="form-group row">
    <label class="col-form-label col-sm-2" for="Author">category</label>
    <div class="col-sm-7">
      <input class="form-control" name="eCategory" value="<%= model.category %>" />
    </div>
    threshold<input type="text" value="<%=model.amountThreshold%>" name="eThres">
  </div>
  
  <div class="form-group row">
    <label class="col-form-label col-sm-2" for="Comments">Quantity</label>
    <div class="col-sm-10">
      <textarea class="form-control" cols="20" name="eStock" maxlength="32000" rows="7"><%= model.stockQty %></textarea>
      <input type="submit">
    </form>
    </div>
  </div> -->

  <html>
    <head>
        <title>Edit Item</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- FONTS -->
        <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

        <!-- JS -->
        <script src="js/forgot.js"></script>

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="css/base.css">
        <link rel="stylesheet" type="text/css" href="css/edit-stock.css">
    </head>
    <body>
        <div class = "main">
            <div class = "row-1">
            </div>

            <form>
              <label>Item Name</label>
              <label>Amount in Stock</label>
              <label>Threshold</label>
              <label>Category</label>
            </form>
        </div>
    </body>
</html>