<html>
    <head>
        <title>Edit Product</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- FONTS -->
        <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

        <!-- JS -->
        <script src="js/forgot.js"></script>

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="/css/base.css">
        <link rel="stylesheet" type="text/css" href="/css/edit-product.css">
    </head>
    <body>
        <div class = "main">
            <div class = "inner-col">
                <div class = "row-1">
                    <a href = "/sales" class = "back-button">◄ Sales</a>
                </div>
                <div class = "row-body" >
                    <h1>Edit Product</h1>
                    <form class="entry" action="/editProduct/<%=rows.productId%>" method="post">
                        <div class = "inner-card">
                            <label>Product Name</label>
                            <input  required type = "text" class = "input" name = "productName" value="<%=rows.productName%>">
                            <label>Price</label>
                            <input required type = "text" class = "input" name="price" value="<%=rows.price%>">
                            <label>Ingredients</label>
                            <div class = "ingredient-input">                                
                                <div class = "ingredient-name">
                                    <label>Ingredient Name</label>
                                    <% for (const inv of recipe) { %>
                                    <input required  readonly name="ingredients[]" class = "ingredient-name add-input" value="<%=inv.ingredients%>"><%}%>
                                        
                                       
                                </div>
                                <div class = "ingredient-qty">
                                    <label>Qty.</label>
                                    <% for (const inv of recipe) { %>
                                    <input class = "ingredient-add add-input" type= "text" value="<%=inv.recipe_qty%>"  name= "qty[]">
                                    <%}%>
                                </div>
                            </div>
                            <div class = "row-4">
                                <div class = "delete-div">
                                    <button type = "button" class = "delete-button" onclick ="window.location.href = '/deleteProduct/<%= rows.productId %>'">Delete</button>
                                </div>
                                <div class = "outcome">
                                    <button type = "button" class = "cancel-button" onclick ="window.location.href = '/sales'">Cancel</button>
                                    <input type = "submit" class = "submit-button">
                                </div>
                            </div>
                        </div> 
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>