<html>
    <head>
        <title>Inventory</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- FONTS -->
        <link rel="stylesheet" href="/css/font/fonts.css">

        <!-- JS -->
        <script src="js/main.js"></script>
        <script src="js/inventory.js"></script>

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="css/base.css">
        <link rel="stylesheet" type="text/css" href="css/inventory.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class = "main">
            <div class = "header">
                <h1>Polly's Pizza: Inventory System</h1>
            </div>
            <div class = "lower">
                <div class = "menu">
                    <div class = "icons">
                        <ul class = "menu-icons">
                           <li>
                                <a href="/dashboard">
                                    <img class = "icon-1" src="res/dashboard-icon.svg" alt="Dashboard icon">
                                </a>
                            </li>
                            <li>
                                <a href="/inventory">
                                    <img class = "icon-2" src="res/inventory-icon.svg" alt="Inventory icon">
                                </a>
                            </li>
                            <li>
                                <a href="/sales">
                                    <img class = "icon-3" src="res/sales-icon.svg" alt="Sales icon">
                                </a>
                            </li>
                            <li>
                                <a href="/statistics">
                                    <img class = "icon-4" src="res/statistics-icon.svg" alt="Statistics icon">
                                </a>
                            </li>
                            <li>
                                <a href="/account">
                                    <img class = "icon-5" src="res/account-icon.svg" alt="Account icon">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class = "menu-col">
                        <ul class = "menu-items">
                            <li>
                                <a href="/dashboard">Dashboard</a>
                            </li>
                            <li class = "menu-item-2">
                                <a href="/inventory">Inventory</a>
                            </li>
                            <div class = "selected"></div>
                            <li class = "menu-item-3">
                                <a href="/sales">Sales</a>
                            </li>
                            <li class = "menu-item-4">
                                <a href="/statistics">Statistics</a>
                            </li>
                            <li class = "menu-item-5">
                                <a href="/account">Account</a>
                            </li>
                            <form action="/logout" method="POST">
                                <input type="submit" id = "logout" class = "logout-button" value = "Logout"></form>
                            <a href = "/help" class = "help-button">How to use</a>
                        </ul>
                    </div>

                </div>
                <form action="/sort" method="post">
                <div class = "page">
                    <div class = "row-1">
                        <div class = "blank-row">
                            <% if (message && message.length > 0 ){%>
                                <div class = "error-row">
                                    <span class="fa fa-exclamation-circle"></span>
                                    <span class="msg_account"><%= message %></span>
                                </div>
                             <% } %>   
                             <% if (success && success.length > 0 ){%>
                                <div class = "succ-row">
                                    <span class="fa fa-check-circle"></span>
                                    <span class="msg_account"><%= success %></span>
                                </div>
                             <% } %>  
                            </div> 
                        <div class = "select-container">
                            
                            <select onchange = "this.form.submit()" name="sort" class = "category-list">
                                <option value = "" disabled selected>Sort</option>
                                <option value = "Recently Added">Recently Added</option>
                                <option value = "Vegetables">Vegetables</option>
                                <option value = "Dairy">Dairy</option>
                                <option value = "Meats">Meats</option>
                                <option value = "Seafood">Seafood</option>
                                <option value = "Fruits">Fruits</option>
                                <option value = "Low to High">Low to High</option>
                                <option value = "High to Low">High to Low</option>
                                
                            </select>
                            <button class = "dropdown-icon"></button>
                        </form>
                        </div>
                        <div class = "sub-row-1">
                            <form class = "search-item-form" method="POST" action="/search">
                                <input type = "text" class = "search-bar" placeholder = "Search" name="search">
                                <input type = "submit" class = "search-icon" value="">
                            </form>
                            <input class = "add-stock" type = "button" onclick = "showAddPopup()" value = "Add Stock">
                        </div>
                    </div>

                    <div class = "row-2">
                        
                        <table class = "stock-table">
                            <tr>
                                <th class = "st-header-1">Category</th>
                                <th class = "st-header-2">Name</th>
                                <th class = "st-header-3">In Stock</th>
                                <th class = "st-header-4">Actions</th>
                            </tr>
                           
                            <% for (const inv of rows) { %>
                            <tr>
                                <td><%=inv.category%></td>
                                <td><%=inv.ingredients%></td>
                                <td><%=inv.stockQty%></td>
                                <td><a class = "edit-button" href = "/edit/<%=inv.stockID %>">Edit/Delete</a></td>
                            </tr>
                            <% } %>
                        </table>
                    </div>
                </div>
            </div>
            <div class = "add-stock-popup">
                <div class = "add-stock-popup-form">
                    <button class = "close-popup" onclick="closeAddStockPopup()">X</button>
                    <form class = "add-stock-popup-form-inner" method="POST" action="/addStock">
                        <h1>Add Stock</h1> 
                        <div class = "inner-add-stock">
                            <label>Item Name:</label>
                            <input required class = "add-input" name="Item">
                            <label>Amount in Stock</label>
                            <input required class = "add-input" name="AmountStock" type="number" min="1">
                            <label>Threshold</label>
                            <input required class = "add-input" name="threshold" type="number" min="1">
                            <label for="category">Category</label>
                            <div class = "category-container">
                                <select required name = "category" required class = "category-input" id="cat">
                                    <option value = "" disabled selected>Select</option>
                                        <option value = "Vegetables">Vegetables</option>
                                        <option value = "Dairy">Dairy</option>
                                        <option value = "Meats">Meats</option>
                                        <option value = "Seafood">Seafood</option>
                                        <option value = "Fruits">Fruits</option>
                                        
                                        
                                </select>
                                <button class = "add-stock-icon dropdown-icon"></button>
                            </div>
                            <input class = "submit-button" type = "submit" value = "Submit">
                        </div> 
                    </form>
                </div>
            </div>
           
        </div>
    </body>
</html>