<html>
    <head>
        <title>Sales</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- FONTS -->
        <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

        <!-- JS -->
        <script src="js/main.js"></script>
        <script src="js/sales.js"></script>
        
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="css/base.css">
        <link rel="stylesheet" type="text/css" href="css/sales.css">
    </head>
    <body>
        <div class = "main">
            <div class = "header">
                <h1>Polly's Pizza: Inventory System</h1>
            </div>
            <div class = "lower">
                <div class = "menu">
                    <div class = "icons">
                        <ul class = "menu-icons">
                            <li>
                                <a href="/dashboard">
                                    <img class = "icon-1" src="res/dashboard-icon.svg" alt="Dashboard icon">
                                </a>
                            </li>
                            <li>
                                <a href="/inventory">
                                    <img class = "icon-2" src="res/inventory-icon.svg" alt="Inventory icon">
                                </a>
                            </li>
                            <li>
                                <a href="/sales">
                                    <img class = "icon-3" src="res/sales-icon.svg" alt="Sales icon">
                                </a>
                            </li>
                            <li>
                                <a href="/statistics">
                                    <img class = "icon-4" src="res/statistics-icon.svg" alt="Statistics icon">
                                </a>
                            </li>
                            <li>
                                <a href="/account">
                                    <img class = "icon-5" src="res/account-icon.svg" alt="Account icon">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class = "menu-col">
                        <ul class = "menu-items">
                            <li>
                                <a href="/dashboard">Dashboard</a>
                            </li>
                            <li class = "menu-item-2">
                                <a href="/inventory">Inventory</a>
                            </li>
                            <li class = "menu-item-3">
                                <a href="/sales">Sales</a>
                            </li>
                            <div class = "selected"></div>
                            <li class = "menu-item-4">
                                <a href="/statistics">Statistics</a>
                            </li>
                            <li class = "menu-item-5">
                                <a href="/account">Account</a>
                            </li>
                            <form action="/logout" method="POST">
                                <input type="submit" id = "logout" class = "logout-button" value = "Logout"></form>
                            <a href = "/help" class = "help-button">How to use</a>
                        </ul>
                    </div>

                </div>
                <div class = "page">
                    <div class = "row-1">
                        <table class = "sales-table">
                            <tr>
                                <th class = "st-header-1">Date</th>
                                <th class = "st-header-2">Product</th>
                                <th class = "st-header-3">Price</th>
                                <th class = "st-header-4">Quantity</th>
                                <th class = "st-header-5">Total</th>
                                <th class = "st-header-6">Actions</th>
                            </tr>
                            <tr>
                                <td>5/26/2020</td>
                                <td>Scallop Pizza</td>
                                <td>Php. 500</td>
                                <td>1</td>
                                <td>Php. 500</td>
                                <td><button class = "edit-button">Edit</button></td>
                            </tr>
                            <tr>
                                <td>5/25/2020</td>
                                <td>Scallop Pizza</td>
                                <td>Php. 500</td>
                                <td>2</td>
                                <td>Php. 1000</td>
                                <td><button class = "edit-button">Edit</button></td>
                            </tr>
                            <tr>
                                <td>5/25/2020</td>
                                <td>Pepperoni Pizza</td>
                                <td>Php. 300</td>
                                <td>1</td>
                                <td>Php. 300</td>
                                <td><button class = "edit-button">Edit</button></td>
                            </tr>
                            <tr>
                                <td>5/25/2020</td>
                                <td>Cheese Pizza</td>
                                <td>Php. 300</td>
                                <td>1</td>
                                <td>Php. 300</td>
                                <td><button class = "edit-button">Edit</button></td>
                            </tr>
                         </table>
                    </div>
                    <div class = "row-2">
                        <div class = "grid-container">
                            <% for (const inv of rows) { %>
                            <div class = "card-container">
                                <div class = "card item-1">
                                    <div class = "card-row-1">
                                        <img class = "item-image pizza1" src="uploads/<%=inv.imageProduct%>" alt="Pizza 1">
                                        <button class = "three-dots"></button>
                                    </div>
                                    <div class = "card-row-2">
                                        <div class = "card-col-1">
                                            <p class = "item-name"><%=inv.productName%></p>
                                        </div>
                                        <div class = "card-col-2">
                                            <div class = "inner-row-1">
                                                <p class = "item-quantity" id = "item-quantity">0</p>
                                            </div>
                                            <div class = "inner-row-2">
                                                <input class = "quantity-button" id = "minus-button" onclick = "removeClick()" type = "button" value = "-">
                                                <input class = "quantity-button" id = "add-button" onclick = "addClick()" type = "button" value = "+">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <%}%>
                            <!-- <div class = "card-container">
                                <div class = "card item-1">
                                    <div class = "card-row-1">
                                        <img class = "item-image pizza3" src="res/pizza2.png" alt="Pizza 2">
                                        <button class = "three-dots"></button>
                                    </div>
                                    <div class = "card-row-2">
                                        <div class = "card-col-1">
                                            <p class = "item-name">Scallop Pizza</p>
                                        </div>
                                        <div class = "card-col-2">
                                            <div class = "inner-row-1">
                                                <p class = "item-quantity" id = "item-quantity">0</p>
                                            </div>
                                            <div class = "inner-row-2">
                                                <input class = "quantity-button" id = "minus-button" onclick = "removeClick()" type = "button" value = "-">
                                                <input class = "quantity-button" id = "add-button" onclick = "addClick()" type = "button" value = "+">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class = "card-container">
                                <div class = "card item-1">
                                    <div class = "card-row-1">
                                        <img class = "item-image pizza3" src="res/pizza3.png" alt="Pizza 3">
                                        <button class = "three-dots"></button>
                                    </div>
                                    <div class = "card-row-2">
                                        <div class = "card-col-1">
                                            <p class = "item-name">Pepperoni Pizza</p>
                                        </div>
                                        <div class = "card-col-2">
                                            <div class = "inner-row-1">
                                                <p class = "item-quantity" id = "item-quantity">0</p>
                                            </div>
                                            <div class = "inner-row-2">
                                                <input class = "quantity-button" id = "minus-button" onclick = "removeClick()" type = "button" value = "-">
                                                <input class = "quantity-button" id = "add-button" onclick = "addClick()" type = "button" value = "+">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class = "card-container">
                                <div class = "card item-1">
                                    <div class = "card-row-1">
                                        <img class = "item-image pizza4" src="res/pizza4.png" alt="Pizza 4">
                                        <button class = "three-dots"></button>
                                    </div>
                                    <div class = "card-row-2">
                                        <div class = "card-col-1">
                                            <p class = "item-name">Sausage Pizza</p>
                                        </div>
                                        <div class = "card-col-2">
                                            <div class = "inner-row-1">
                                                <p class = "item-quantity" id = "item-quantity">0</p>
                                            </div>
                                            <div class = "inner-row-2">
                                                <input class = "quantity-button" id = "minus-button" onclick = "removeClick()" type = "button" value = "-">
                                                <input class = "quantity-button" id = "add-button" onclick = "addClick()" type = "button" value = "+">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class = "card-container">
                                <div class = "card item-1">
                                    <div class = "card-row-1">
                                        <img class = "item-image pizza5" src="res/pizza5.png" alt="Pizza 5">
                                        <button class = "three-dots"></button>
                                    </div>
                                    <div class = "card-row-2">
                                        <div class = "card-col-1">
                                            <p class = "item-name">Cheese Overload</p>
                                        </div>
                                        <div class = "card-col-2">
                                            <div class = "inner-row-1">
                                                <p class = "item-quantity" id = "item-quantity">0</p>
                                            </div>
                                            <div class = "inner-row-2">
                                                <input class = "quantity-button" id = "minus-button" onclick = "removeClick()" type = "button" value = "-">
                                                <input class = "quantity-button" id = "add-button" onclick = "addClick()" type = "button" value = "+">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class = "card-container">
                                <div class = "card item-1">
                                    <div class = "card-row-1">
                                        <img class = "item-image pizza6" src="res/pizza6.png" alt="Pizza 6">
                                        <button class = "three-dots"></button>
                                    </div>
                                    <div class = "card-row-2">
                                        <div class = "card-col-1">
                                            <p class = "item-name">Healthy Tuna</p>
                                        </div>
                                        <div class = "card-col-2">
                                            <div class = "inner-row-1">
                                                <p class = "item-quantity" id = "item-quantity" >0</p>
                                            </div>
                                            <div class = "inner-row-2">
                                                <input class = "quantity-button" id = "minus-button" onclick = "removeClick()" type = "button" value = "-">
                                                <input class = "quantity-button" id = "add-button" onclick = "addClick()" type = "button" value = "+">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class = "card-container">
                                <div class = "card item-1">
                                    <div class = "card-row-1">
                                        <img class = "item-image pizza7" src="res/pizza7.png" alt="Pizza 7">
                                        <button class = "three-dots"></button>
                                    </div>
                                    <div class = "card-row-2">
                                        <div class = "card-col-1">
                                            <p class = "item-name">Blazing Bacon</p>
                                        </div>
                                        <div class = "card-col-2">
                                            <div class = "inner-row-1">
                                                <p class = "item-quantity" id = "item-quantity">0</p>
                                            </div>
                                            <div class = "inner-row-2">
                                                <input class = "quantity-button" id = "minus-button" onclick = "removeClick()" type = "button" value = "-">
                                                <input class = "quantity-button" id = "add-button" onclick = "addClick()" type = "button" value = "+">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class = "row-3">
                        <input class = "add-product-button" type = "button" value = "Add Product" onclick="showAddProductPopup()">
                        <input class = "submit-button" type = "button" value = "Submit">
                    </div>
                </div>
            </div>
            <div class = "add-product-popup">
                <form class = "add-product-popup-form" action="/addproduct" method="POST" enctype="multipart/form-data">
                    <button class = "close-popup" onclick="closeAddProductPopup()">X</button>
                    <h1>Add Product</h1>
                    <div class = "inner-add-form">
                        <label>Product Name</label>
                        <input required class = "add-input" type= "text" name="productName">
                        <label>Image</label>
                        <input required class = "image-input"  type = "file" name="myImage">
                        <label>Price</label>
                        <input required class = "add-input" type = "text" name="price">
                        <label>Ingredients</label>
                        <div class = "ingredient-input">
                            <div class = "ingredient-name">
                                <label>Ingredient Name</label>
                                <select name = "ingredients[]" required class = "ingredient-name add-input">
                                    <option value = "" disabled selected>Select</option>
                                    <% for (const inv of model) { %>
                                    <option value = "<%=inv.ingredients%>"><%=inv.ingredients%></option><%}%>
                                </select>
                                <select name = "ingredients[]" class = "ingredient-name add-input">
                                    <option value = "" disabled selected>Select</option>
                                    <% for (const inv of model) { %>
                                        <option value = "<%=inv.ingredients%>"><%=inv.ingredients%></option><%}%>
                                </select>
                                <select name = "ingredients[]"  class = "ingredient-name add-input">
                                    <option value = "" disabled selected>Select</option>
                                    <% for (const inv of model) { %>
                                    <option value = "<%=inv.ingredients%>"><%=inv.ingredients%></option><%}%>
                                </select>
                                <select name = "ingredients[]" class = "ingredient-name add-input">
                                    <option value = "" disabled selected>Select</option>
                                    <% for (const inv of model) { %>
                                        <option value = "<%=inv.ingredients%>"><%=inv.ingredients%></option><%}%>
                                </select><select name = "ingredients[]"  class = "ingredient-name add-input">
                                    <option value = "" disabled selected>Select</option>
                                    <% for (const inv of model) { %>
                                    <option value = "<%=inv.ingredients%>"><%=inv.ingredients%></option><%}%>
                                </select>
                                <select name = "ingredients[]" class = "ingredient-name add-input">
                                    <option value = "" disabled selected>Select</option>
                                    <% for (const inv of model) { %>
                                        <option value = "<%=inv.ingredients%>"><%=inv.ingredients%></option><%}%>
                                </select><select name = "ingredients[]"  class = "ingredient-name add-input">
                                    <option value = "" disabled selected>Select</option>
                                    <% for (const inv of model) { %>
                                    <option value = "<%=inv.ingredients%>"><%=inv.ingredients%></option><%}%>
                                </select>
                                <select name = "ingredients[]" class = "ingredient-name add-input">
                                    <option value = "" disabled selected>Select</option>
                                    <% for (const inv of model) { %>
                                        <option value = "<%=inv.ingredients%>"><%=inv.ingredients%></option><%}%>
                                </select><select name = "ingredients[]"  class = "ingredient-name add-input">
                                    <option value = "" disabled selected>Select</option>
                                    <% for (const inv of model) { %>
                                    <option value = "<%=inv.ingredients%>"><%=inv.ingredients%></option><%}%>
                                </select>
                                <select name = "ingredients[]" class = "ingredient-name add-input">
                                    <option value = "" disabled selected>Select</option>
                                    <% for (const inv of model) { %>
                                        <option value = "<%=inv.ingredients%>"><%=inv.ingredients%></option><%}%>
                                </select><select name = "ingredients[]"  class = "ingredient-name add-input">
                                    <option value = "" disabled selected>Select</option>
                                    <% for (const inv of model) { %>
                                    <option value = "<%=inv.ingredients%>"><%=inv.ingredients%></option><%}%>
                                </select>
                                <select name = "ingredients[]" class = "ingredient-name add-input">
                                    <option value = "" disabled selected>Select</option>
                                    <% for (const inv of model) { %>
                                        <option value = "<%=inv.ingredients%>"><%=inv.ingredients%></option><%}%>
                                </select>
                                <select name = "ingredients[]"  class = "ingredient-name add-input">
                                    <option value = "" disabled selected>Select</option>
                                    <% for (const inv of model) { %>
                                    <option value = "<%=inv.ingredients%>"><%=inv.ingredients%></option><%}%>
                                </select>
                                <select name = "ingredients[]" class = "ingredient-name add-input">
                                    <option value = "" disabled selected>Select</option>
                                    <% for (const inv of model) { %>
                                        <option value = "<%=inv.ingredients%>"><%=inv.ingredients%></option><%}%>
                                </select>
                                <select name = "ingredients[]"  class = "ingredient-name add-input">
                                    <option value = "" disabled selected>Select</option>
                                    <% for (const inv of model) { %>
                                    <option value = "<%=inv.ingredients%>"><%=inv.ingredients%></option><%}%>
                                </select>
                                <select name = "ingredients[]" class = "ingredient-name add-input">
                                    <option value = "" disabled selected>Select</option>
                                    <% for (const inv of model) { %>
                                        <option value = "<%=inv.ingredients%>"><%=inv.ingredients%></option><%}%>
                                </select>
                                <select name = "ingredients[]"  class = "ingredient-name add-input">
                                    <option value = "" disabled selected>Select</option>
                                    <% for (const inv of model) { %>
                                    <option value = "<%=inv.ingredients%>"><%=inv.ingredients%></option><%}%>
                                </select>
                                <select name = "ingredients[]" class = "ingredient-name add-input">
                                    <option value = "" disabled selected>Select</option>
                                    <% for (const inv of model) { %>
                                        <option value = "<%=inv.ingredients%>"><%=inv.ingredients%></option><%}%>
                                </select>
                                <select name = "ingredients[]"  class = "ingredient-name add-input">
                                    <option value = "" disabled selected>Select</option>
                                    <% for (const inv of model) { %>
                                    <option value = "<%=inv.ingredients%>"><%=inv.ingredients%></option><%}%>
                                </select>
                                <select name = "ingredients[]" class = "ingredient-name add-input">
                                    <option value = "" disabled selected>Select</option>
                                    <% for (const inv of model) { %>
                                        <option value = "<%=inv.ingredients%>"><%=inv.ingredients%></option><%}%>
                                </select>
                            </div>
                            <div class = "ingredient-qty">
                                <label>Qty.</label>
                                <input name = "qty[]" required class = "ingredient-add add-input" type= "text">
                                <input name = "qty[]" class = "ingredient-add add-input" type= "text">
                                <input name = "qty[]" class = "ingredient-add add-input" type= "text">
                                <input name = "qty[]" class = "ingredient-add add-input" type= "text">
                                <input name = "qty[]" class = "ingredient-add add-input" type= "text">
                                <input name = "qty[]" class = "ingredient-add add-input" type= "text">
                                <input name = "qty[]" class = "ingredient-add add-input" type= "text">
                                <input name = "qty[]" class = "ingredient-add add-input" type= "text">
                                <input name = "qty[]" class = "ingredient-add add-input" type= "text">
                                <input name = "qty[]" class = "ingredient-add add-input" type= "text">
                                <input name = "qty[]" class = "ingredient-add add-input" type= "text">
                                <input name = "qty[]" class = "ingredient-add add-input" type= "text">
                                <input name = "qty[]" class = "ingredient-add add-input" type= "text">
                                <input name = "qty[]" class = "ingredient-add add-input" type= "text">
                                <input name = "qty[]" class = "ingredient-add add-input" type= "text">
                                <input name = "qty[]" class = "ingredient-add add-input" type= "text">
                                <input name = "qty[]" class = "ingredient-add add-input" type= "text">
                                <input name = "qty[]" class = "ingredient-add add-input" type= "text">
                                <input name = "qty[]" class = "ingredient-add add-input" type= "text">
                                <input name = "qty[]" class = "ingredient-add add-input" type= "text">
                                
                                
                            </div>
                        </div>
                        <div class = "submit-row">
                            <input class = "ingredient-submit submit-button" type = "submit" value = "Submit">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>