<<form action="/edit/<%=model.stockID%>" method="post">

  <input autofocus class="form-control" name="eName" value="<%= model.ingredients %>" />



  <input class="form-control" name="eCategory" value="<%= model.category %>" />

threshold<input type="text" value="<%=model.amountThreshold%>" name="eThres">



<label class="col-form-label col-sm-2" for="Comments">Quantity</label>

  <textarea class="form-control" cols="20" name="eStock" maxlength="32000" rows="7"><%= model.stockQty %></textarea>