<html>
    <head>
        <title>Delete Stock</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- FONTS -->
        <link rel="stylesheet" href="/css/font/fonts.css">

        <!-- JS -->
        <script src="js/forgot.js"></script>

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="/css/base.css">
        <link rel="stylesheet" type="text/css" href="/css/edit-stock.css">
        <link rel="shortcut icon" type="image/png" href="/res/pizza.ico">
    </head>
    <body>
        <div class = "main">
            <div class = "inner-col">
                <div class = "row-1">
                    <a href = "/inventory" class = "back-button">◄ Inventory</a>
                </div>
                <div class = "row-body">
                    <h1>Delete Stock</h1>
                    <form class="entry" action="/delete/<%=model.stockID%>" method="post">
                        <div class = "inner-card">
                            <label>Item Name</label>
                            <input readonly type = "text" class = "delete-input input" name="eName" value="<%= model.ingredients %>">
                            <label>Amount in Stock</label>
                            <input readonly type = "text" class = "delete-input input" name="eStock" value="<%= model.stockQty %>">
                            <label>Threshold</label>
                            <input readonly type = "text" class = "delete-input input" value="<%=model.amountThreshold%>" name="eThres">
                            <label>Category</label>
                            <div class = "category-container">
                                <select readonly name = "category" required class = "delete-input category-input">
                                    <option value = "<%= model.category %>" readonly selected><%= model.category %></option>
                                    <option value = "Vegetables">Vegetables</option>
                                    <option value = "Dairy">Dairy</option>
                                    <option value = "Meats">Meats</option>
                                    <option value = "Seafood">Seafood</option>
                                    <option value = "Fruits">Fruits</option>
                                </select>
                                <button class = "dropdown-icon"></button>
                            </div>
                            <div class = "delete-div">
                            </div>
                            <div class = "outcome">
                                <button type = "button" class = "canc cancel-button" onclick ="window.location.href = '/inventory'">Cancel</button>
                                <input type = "submit" class = "dele delete-button" value="Delete">
                            </div>
                        </div> 
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>