<html>
    <head>
        <title>Edit Stock</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- FONTS -->
        <link rel="stylesheet" href="/css/font/fonts.css">

        <!-- JS -->
        <script src="js/forgot.js"></script>

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="/css/base.css">
        <link rel="stylesheet" type="text/css" href="/css/edit-stock.css">
    </head>
    <body>
        <div class = "main">
            <div class = "inner-col">
                <div class = "row-1">
                    <a href = "/inventory" class = "back-button">◄ Inventory</a>
                </div>
                <div class = "row-body" >
                    <h1>Edit Stock</h1>
                    <form class="entry" action="/edit/<%=model.stockID%>" method="post">
                        <div class = "inner-card">
                            <label>Item Name</label>
                            <input  required type = "text" class = "input"  name="eName" value="<%= model.ingredients %>">
                            <label>Amount in Stock</label>
                            <input required type = "number" class = "input" name="eStock" value="<%= model.stockQty %>"  min="1">
                            <label>Threshold</label>
                            <input required type = "number" class = "input" value="<%=model.amountThreshold%>" name="eThres" min="1">
                            <label>Category</label>
                            <div class = "category-container" >
                                <select required class = "category-input" name="eCategory">
                                    <option value = "<%= model.category %>"  selected><%= model.category %></option>
                                    
                                    <option value = "Vegetables">Vegetables</option>
                                    <option value = "Dairy">Dairy</option>
                                    <option value = "Meats">Meats</option>
                                    <option value = "Seafood">Seafood</option>
                                    <option value = "Fruits">Fruits</option>
                                </select>
                                <button class = "dropdown-icon"></button>
                            </div>
                            <div class = "delete-div">
                                <button type = "button" class = "delete-button" onclick ="window.location.href = '/delete/<%= model.stockID %>'">Delete</button>
                            </div>
                            <div class = "outcome">
                                <button type = "button" class = "cancel-button" onclick ="window.location.href = '/inventory'">Cancel</button>
                                <input type = "submit" class = "submit-button">
                            </div>
                        </div> 
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>