<html>
    <head>
        <title>Delete Product</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- FONTS -->
        <link rel="stylesheet" href="/css/font/fonts.css">

        <!-- JS -->
        <script src="js/forgot.js"></script>

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="/css/base.css">
        <link rel="stylesheet" type="text/css" href="/css/edit-product.css">
        <link rel="shortcut icon" type="image/png" href="/res/pizza.ico">
    </head>
    <body>
        <div class = "main">
            <div class = "inner-col">
                <div class = "row-1">
                    <a href = "/sales" class = "back-button">◄ Sales</a>
                </div>
                <div class = "row-body" >
                    <h1>Delete Product</h1>
                    <form class="entry" action="/deleteProduct/<%=rows.productId%>" method="post">
                        <div class = "inner-card">
                            <label>Product Name</label>
                            <input readonly type = "text" class = "delete-input input" name = "productName" value="<%=rows.productName%>">
                            <label>Price</label>
                            <input readonly type = "text" class = "delete-input input" name="price" value="<%=rows.price%>">
                            <label>Ingredients</label>
                            <div class = "ingredient-input">                                
                                <div class = "ingredient-name">
                                    <label>Ingredient Name</label>
                                    <% for (const inv of recipe) { %>
                                    <select  name="ingredients[]" class = "delete-input ingredient-name add-input">
                                        <option value = "<%=inv.ingredients%>"  selected ><%=inv.ingredients%></option>
                                        <% for (const inv of model) { %>
                                            <option value = "<%=inv.ingredients%>"><%=inv.ingredients%></option><%}%>
                                    </select><%}%>
                                </div>
                                <div class = "ingredient-qty">
                                    <label>Qty.</label>
                                    <% for (const inv of recipe) { %>
                                    <input readonly class = "delete-input ingredient-add add-input" type= "text" value="<%=inv.recipe_qty%>" name= "qty[]">
                                    <%}%>
                                </div>
                            </div>
                            <div class = "row-4">
                                <div class = "delete-div">
                                </div>
                                <div class = "outcome">
                                    <button type = "button" class = "cancel-button" onclick ="window.location.href = '/sales'">Cancel</button>
                                    <input type = "submit" class = "delete-button" value="Delete">
                                </div>
                            </div>
                        </div> 
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>