<html>
    <head>
        <title>Delete Sale</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- FONTS -->
        <link rel="stylesheet" href="/css/font/fonts.css">

        <!-- JS -->
        <script src="js/forgot.js"></script>

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="/css/base.css">
        <link rel="stylesheet" type="text/css" href="/css/delete-sale.css">
        <link rel="shortcut icon" type="image/png" href="/res/pizza.ico">
    </head>
    <body>
        <div class = "main">
            <div class = "inner-col">
                <div class = "row-1">
                    <a href = "/sales" class = "back-button">◄ Sales</a>
                </div>
                <div class = "row-body" >
                    <h1>Void Sale</h1>
                    <form class="entry" action="/deleteSale/<%=model.salesID%>" method="post">
                        <div class = "inner-card">
                            <label>Date</label>
                            <input readonly type = "text" class = "delete-input input" value = "<%=model.DT%>">
                            <label>Product</label>
                            <input readonly type = "text" name="ProductName" class = "delete-input input" value = "<%=model.productName%>">
                            <label>Price</label>
                            <input readonly type = "text" class = "delete-input input" value = "<%=model.Price%>">
                            <label>Quantity</label>
                            <input readonly type = "text" name = "Qty" class = "delete-input input" value = "<%=model.sales_qty%>">
                            <label>Total</label>
                            <input readonly type = "text" class = "delete-input input" value = "<%=model.totalPrice%>">
                            <div class = "row-4">
                                <div class = "outcome">
                                    <button type = "button" class = "cancel-button" onclick ="window.location.href = '/sales'">Cancel</button>
                                    <input type = "submit" class = "delete-button" value="Void">
                                </div>
                            </div>
                        </div> 
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>