<html>
    <head>
        <title>Sales</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- FONTS -->
        <link rel="stylesheet" href="/css/font/fonts.css">

        <!-- JS -->
        <script src="js/main.js"></script>
        <script src="js/sales.js"></script>

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="css/base.css">
        <link rel="stylesheet" type="text/css" href="css/sales.css">
        <link rel="stylesheet" href="/css/fa/css/font-awesome.min.css">
        <link rel="shortcut icon" type="image/png" href="/res/pizza.ico">
    </head>
    <body>
        <div class = "main">
            <div class = "header">
                <h1>Polly's Pizza: Inventory System</h1>
            </div>
            <div class = "lower">
                <div class = "menu">
                    <div class = "icons">
                        <ul class = "menu-icons">
                            <li>
                                <a href="/dashboard">
                                    <img class = "icon-1" src="res/dashboard-icon.svg" alt="Dashboard icon">
                                </a>
                            </li>
                            <li>
                                <a href="/inventory">
                                    <img class = "icon-2" src="res/inventory-icon.svg" alt="Inventory icon">
                                </a>
                            </li>
                            <li>
                                <a href="/sales">
                                    <img class = "icon-3" src="res/sales-icon.svg" alt="Sales icon">
                                </a>
                            </li>
                            <li>
                                <a href="/statistics">
                                    <img class = "icon-4" src="res/statistics-icon.svg" alt="Statistics icon">
                                </a>
                            </li>
                            <li>
                                <a href="/account">
                                    <img class = "icon-5" src="res/account-icon.svg" alt="Account icon">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class = "menu-col">
                        <ul class = "menu-items">
                            <li>
                                <a href="/dashboard">Dashboard</a>
                            </li>
                            <li class = "menu-item-2">
                                <a href="/inventory">Inventory</a>
                            </li>
                            <li class = "menu-item-3">
                                <a href="/sales">Sales</a>
                            </li>
                            <div class = "selected"></div>
                            <li class = "menu-item-4">
                                <a href="/statistics">Statistics</a>
                            </li>
                            <li class = "menu-item-5">
                                <a href="/account">Account</a>
                            </li>
                            <form action="/logout" method="POST">
                                <input type="submit" id = "logout" class = "logout-button" value = "Logout"></form>
                            <a href = "/help" class = "help-button">How to use</a>
                        </ul>
                    </div>

                </div>
                
                <div class = "page">
                    <div class = "blank-row">
                        <% if (message && message.length > 0 ){%>
                            <div class = "error-row">
                                <span class="fa fa-exclamation-circle"></span>
                                <span class="msg_sales"><%= message %></span>
                            </div>
                         <% } %>  
                         
                         <% if (success && success.length > 0 ){%>
                            <div class = "succ-row">
                                <span class="fa fa-check-circle"></span>
                                <span class="msg_sales"><%= success %></span>
                            </div>
                         <% } %>    
                    </div>       
                    <h1 class = "sales-header">Sales</h1> 
                    <div class = "row-1">
                        <table class = "sales-table">
                            <tr>
                                <th class = "st-header-1">Date</th>
                                <th class = "st-header-2">Product</th>
                                <th class = "st-header-3">Price</th>
                                <th class = "st-header-4">Quantity</th>
                                <th class = "st-header-5">Total</th>
                                <th class = "st-header-6">Actions</th>
                            </tr>
                            <tr>
                                <% for (const sale of sales) { %>
                                <td><%=sale.DT%></td>
                                <td><%=sale.productName%></td>
                                <td><%=formatter.format(sale.Price)%></td>
                                <td><%=sale.sales_qty%></td>
                                <td><%=formatter.format(sale.totalPrice)%></td>
                                <td><button class = "edit-button" onclick = "window.location.href = '/deleteSale/<%= sale.salesID %>'">Void</button></td>
                            </tr>
                            <%}%>
                        </table>
                    </div>
                    <div class = "footer">
                        <h1>Products</h1>
                        <div class = "product-tooltip tooltip" data-tooltip-value = "Solid Ingredients are measured in Grams (g) and Liquid Ingredients are measured in Milliliters (ml)"></div>
                        <input class = "add-product-button" type = "button" value = "Add Product" onclick="showAddProductPopup()">
                    </div>
                    <div class = "row-2">
                        <div class = "grid-container">
                            <% for (const inv of rows) { %>
                            <div class = "card-container">
                                <div class = "card item-1">
                                    <div class = "card-row-1">
                                        <img class = "item-image pizza1" src="uploads/<%=inv.imageProduct%>" alt="Pizza 1">
                                    </div>
                                    <div class = "card-row-2">
                                        <div class = "card-col-1">
                                            <p class = "item-name"><%=inv.productName%></p>
                                        </div>
                                    </div>
                                    <div class = "card-row-3">
                                        <a class = "edit-product" href = "/editProduct/<%=inv.productId %>">Edit/Delete</a>
                                        <a class = "edit-product" href = "/addSale/<%=inv.productId %>">Add Sale</a>
                                    </div>
                                </div>
                            </div>
                            <%}%>
                        </div>
                    </div>
                </div>
            </div>

            <div class = "add-product-popup">
                <div class = "add-product-popup-form">
                    <button class = "close-popup" onclick="closeAddProductPopup()">X</button>
                    <form class = "add-product-popup-form-inner" action="/addproduct" method="POST" enctype="multipart/form-data" name = "addProductform">
                        <h1>Add Product</h1>
                        <div class = "inner-add-form">
                            <label>Product Name</label>
                            <input required class = "add-input" type= "text" name="productName">
                            <label>Image</label>
                            <input required class = "image-input"  type = "file" name="myImage">
                            <label>Price</label>
                            <input required class = "add-input" type = "number" name="price" min="1" >
                            <label>Ingredients</label>
                            <div class = "ingredient-input">
                                <div class = "ingredient-name" id="newElementId">
                                    <label>Ingredient Name</label>
                                    <select name = "ingredients[]" required class = "ingredient-name add-input">
                                        <option value = "" disabled selected>Select</option>
                                        <% for (const inv of model) { %>
                                        <option value = "<%=inv.ingredients%>"><%=inv.ingredients%></option><%}%>
                                    </select>
                                    <select name = "ingredients[]" required class = "ingredient-name add-input">
                                        <option value = "" disabled selected>Select</option>
                                        <% for (const inv of model) { %>
                                            <option value = "<%=inv.ingredients%>"><%=inv.ingredients%></option><%}%>
                                    </select>
                                    <select name = "ingredients[]"  required class = "ingredient-name add-input">
                                        <option value = "" disabled selected>Select</option>
                                        <% for (const inv of model) { %>
                                        <option value = "<%=inv.ingredients%>"><%=inv.ingredients%></option><%}%>
                                    </select>
                                </div>
                                <div class = "ingredient-qty" id="qty">
                                    <label>Qty.</label>
                                    <input name = "qty[]" required class = "ingredient-add add-input" type= "number" min="0">
                                    <input name = "qty[]" required class = "ingredient-add add-input" type= "number" min="0">
                                    <input name = "qty[]" required class = "ingredient-add add-input" type= "number" min="0">
                                    
                                    
                                </div>
                            </div>
                            <div class = "submit-row">
                                <div class = "ingredient-col">
                                    <input class = "addb new-button dele-button" type="button" value="Add Ingredient" onclick="createNewElement();"/>
                                    <input class = "removeb new-button dele-button" type="button" value="Remove Ingredient" onclick="removeElement();"/>
                                </div>
                                <input class = "ingredient-submit submit-button" type = "submit" value = "Submit">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script>
            var intTextBox = 0;
            function createNewElement() {
    // First create a DIV element.
    
    intTextBox++;
	var txtNewInputBox1 = document.createElement('div');
    var txtNewInputBox2 = document.createElement('div');

    // Then add the content (a new input box) of the element.
    txtNewInputBox1.setAttribute('id', 'div_' + intTextBox);
    txtNewInputBox2.setAttribute('id', 'div_' + intTextBox);
	txtNewInputBox1.innerHTML = "<select required type='text' id='newInputBox' name = 'ingredients[]' class = 'ingredient-name add-input'><option value = '' disabled selected>Select</option><% for (const inv of model) { %> <option value = '<%=inv.ingredients%>'><%=inv.ingredients%></option><%}%> </select>";
    txtNewInputBox2.innerHTML = "<input required name = 'qty[]'  class = 'ingredient-add add-input' type= 'number' min='0'>"
    // Finally put it where it is supposed to appear.
	document.getElementById("newElementId").appendChild(txtNewInputBox1);
    document.getElementById("qty").appendChild(txtNewInputBox2);
}
function removeElement() {
    if(0 < intTextBox) {
        document.getElementById('newElementId').removeChild(document.getElementById('div_' + intTextBox));
        document.getElementById('qty').removeChild(document.getElementById('div_' + intTextBox));
        intTextBox--;
    } else {
        alert("Can no longer remove inputs.");
    }
 
}

        </script>
    </body>
</html>